@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/********** Contact Icons **********/
/* Light mode */
.icon-light-mode {
  color: #111;
}

.icon-light-mode :hover {
  color: #bdbdbd;
}

/* Dark mode */
.icon-dark-mode {
  color: #fff;
}

.icon-dark-mode :hover {
  color: #bdbdbd;
}
